@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Open-Sans-regular/Open-Sans-regular.eot");
  src: url("../fonts/Open-Sans-regular/Open-Sans-regular.eot?#iefix")
      format("embedded-opentype"),
    local("Open Sans"), local("Open-Sans-regular"),
    url("../fonts/Open-Sans-regular/Open-Sans-regular.woff2") format("woff2"),
    url("../fonts/Open-Sans-regular/Open-Sans-regular.woff") format("woff"),
    url("../fonts/Open-Sans-regular/Open-Sans-regular.ttf") format("truetype"),
    url("../fonts/Open-Sans-regular/Open-Sans-regular.svg#OpenSans")
      format("svg");
}

@font-face {
  font-family: "Oswald";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Oswald-300/Oswald-300.eot");
  src: url("../fonts/Oswald-300/Oswald-300.eot?#iefix")
      format("embedded-opentype"),
    local("Oswald Light"), local("Oswald-300"),
    url("../fonts/Oswald-300/Oswald-300.woff2") format("woff2"),
    url("../fonts/Oswald-300/Oswald-300.woff") format("woff"),
    url("../fonts/Oswald-300/Oswald-300.ttf") format("truetype"),
    url("../fonts/Oswald-300/Oswald-300.svg#Oswald") format("svg");
}

@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Oswald-regular/Oswald-regular.eot");
  src: url("../fonts/Oswald-regular/Oswald-regular.eot?#iefix")
      format("embedded-opentype"),
    local("Oswald Regular"), local("Oswald-regular"),
    url("../fonts/Oswald-regular/Oswald-regular.woff2") format("woff2"),
    url("../fonts/Oswald-regular/Oswald-regular.woff") format("woff"),
    url("../fonts/Oswald-regular/Oswald-regular.ttf") format("truetype"),
    url("../fonts/Oswald-regular/Oswald-regular.svg#Oswald") format("svg");
}

@font-face {
  font-family: "NunitoSans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/NunitoSans/NunitoSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "NunitoSans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/NunitoSans/NunitoSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "NunitoSans";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/NunitoSans/NunitoSans-SemiBold.ttf") format("truetype");
}

$light: 300;
$normal: 400;
$semi-bold: 600;
