// spacing
$space-xs: 4px;
$space-sm: 8px;
$space-md: 16px;
$space-lg: 32px;
$space-xl: 64px;

// colors
$white: #fff;
$black: #000;
$coal: #212121;

$blue: #4296cc;
$red: #da4d45;
$green: #1ec522;
$gray-1: #ededed;
$gray-2: #7b7b7b;
$purple-1: #330b77;
$purple-2: #8d41f3;

// site colors
$primary-1: $purple-1;
$primary-2: $purple-2;
$accent: $green;
$text-1: $coal;
$text-2: $black;
$divider-color: $gray-1;
