// spacing
$space-xs: 4px;
$space-sm: 8px;
$space-md: 16px;
$space-lg: 32px;
$space-xl: 64px;

// colors
$white: #fff;
$black: #000;
$coal: #212121;

$blue: #4296cc;
$red: #da4d45;
$green: #1ec522;
$orange: #f56d31;
$gray-1: #ededed;
$gray-2: #7b7b7b;
$teal: #68ccc8;
$blue: #3a7e9f;

// site colors
$primary-1: $teal;
$primary-2: $blue;
$accent: $orange;
$text-1: $coal;
$text-2: $black;
$divider-color: $gray-1;
