.btn {
  cursor: pointer;
}

.btn-primary {
  border-radius: 3px;
  background-color: $primary-1;
  border-color: $primary-1;
  &:hover,
  &:disabled {
    background-color: lighten($primary-1, 0.1);
    border-color: lighten($primary-1, 0.1);
  }
  &:disabled {
    opacity: 0.5;
  }
}
