header {
  border-bottom: 1px solid $divider-color;
  .nav-desktop {
    width: 100%;
    color: $primary-1;
    height: 72px;
    padding: 0 $space-lg;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: flex-start;
      height: auto;
      > div {
        margin: $space-xs 0;
      }
    }
    > div span {
      margin-right: $space-xs;
    }
  }
  .balances {
    display: flex;
    flex-direction: column;
  }
}

body {
  color: $text-1;
  font-family: "NunitoSans";
  font-weight: $normal;
}

main {
  margin: $space-lg 0;
}

p {
  margin: 0;
}

.hidden {
  display: none;
}

.amount,
.address,
.link {
  color: $accent;
}

.payment .payment__box {
  margin: $space-xl 0;
  padding: $space-lg;
  box-shadow: 2px 3px 10px 2px rgba(16, 28, 64, 0.1);
  .eth-logo {
    height: $space-lg;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  h2 {
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: $space-lg;
  }
  p {
    margin: $space-md 0;
  }
  .message {
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 1px;
  }
  .buttons {
    margin-top: $space-xl;
  }
}
